version: '3.9'

services:
  api:
    build: .
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis

  worker:
    build: .
    command: celery -A source.tasks worker --loglevel=INFO
    volumes:
      - .:/app
    depends_on:
      - redis

  redis:
    image: redis:6.2
    ports:
      - "6379:6379"